<%- include("./pages/layout.ejs") %>
    <div class="container col-10 d-flex flex-column gap-3 pt-3">
        <div>
            <h1>Messages</h1>
            <p>Search for users or conversations</p>
        </div>
        <div class="col-12 p-5 border">
            <% messages.forEach(message=> { %>
                <div class="border col-4">
                    <p>
                        <%= user ? message.author.username : "Club Member" %>
                    </p>
                    <p>
                        <%= user ? message.date : "" %>
                    </p>
                    <p>
                        <%= message.content %>
                    </p>
                </div>
                <% }) %>

        </div>
        <div>
            <a href="/users/dashboard/new">
                <button type="submit" class="btn btn-primary">Create New Message</button>
            </a>
        </div>
    </div>