<%- include("./layout.ejs") %>
  <div class="container">
    <h2>Messages</h2>
    <% messages.forEach(message=> { %>
      <div>
        <p>
          <%= user ? message.author.username : " Club Member" %>
        </p>
        <p>
          <%= user ? message.date : "" %>
        </p>
        <p>
          <%= message.content %>
        </p>
      </div>
      <% }) %>
  </div>